@media(max-width: 350px) {

  
#time-icon {
  display: none;
}
}


@media(max-width: 325px) {

  
  #date-icon {
    display: none;
  }

  #car-icon {
    display: none;
  }

  #statut-box {
    gap: 0;
  }

  #statut-box > span{
    margin-left: 0;
  }
  }

